# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala
5. Julia
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn
4. MatplotLib
5. Seaborn
6. Keras
7. Tensorflow
8. Pytorch

----------------------------
| DataScienceTools |
----------------------------
|Spyder|
|     Jupyter     |
|     RStudio     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
min_given=200
min_in_hour=60
hours=min_given/min_in_hour
print(hours,"hours")

3.3333333333333335 hours

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries by Data Scientists.
- Make a table for open-source Data Science Tools such as IDEs.

## Author
Hashir Soomro